[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-file-upload = "*"
flask = "*"
graphene-sqlalchemy = "*"
graphql-core = "==2.3.2"
phonenumbers = "*"
pytest = "*"
pip = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"
